<div>
  {{expression.firstOperand|number}}{{expression.operation}}{{expression.secondOperand|number}}<span
  *ngIf="expression.result != null">=</span>{{expression.result|number}}
</div>

<input [(ngModel)]="inputValue">
<div>
  <button (click)="plus()">+</button>
  <button (click)="divide()">/</button>
  <button (click)="multiply()">*</button>
  <button (click)="calculate()">=</button>
</div>

<div *ngFor="let record of history"
     [ngClass]="{'middle': record.result > 25 && record.result <= 30, 'high': record.result > 30}">
  {{record.firstOperand|number}}{{record.operation}}{{record.secondOperand|number}}={{record.result|number}}
</div>
